.cont{
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 20px;
}

.apart{
    width: auto;
    height: 40px;
    background-color: #DEC81F;
    border-radius: 5px;
    font-size: x-large;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.factura{
    width: auto;
    height: auto;
    margin-top: 15px;
    border: 2px solid #DEC81F;
    border-radius: 3px;
    background-color: #DEC81F;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}


.titulo{
    width: auto;
    height: auto;
    text-align: center;
    margin-top: 20px;
    margin-left: 100px;
    margin-right: 100px;
    border-radius: 5px;
    font-size: xx-large;
    background-color: #DEC81F;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.imput{
    width: auto;
    height: 30px;
    border-radius: 8px;
    text-align: left;
    margin: auto;
    font-size: large;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: whitesmoke;
}

.texto{
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-size: large;
    margin-bottom: 10px;
}

.hr{
    border-color:#33425E;
}

.boton{
    height: 35px;
    width: auto;
    border-radius: 10px;
    background-color: #3671df;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    border: 3px solid rgb(54, 113, 223);
    margin-top: 10px;
    margin-bottom: 5px;
    color: white;

}

.unDiv{
    margin-top: 15px;
}