.cont{
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 20px;
}

.apart{
    width: auto;
    height: 40px;
    background-color: whitesmoke;
    border-radius: 5px;
    font-size: x-large;
    text-align: center;
}

.factura{
    width: auto;
    height: auto;
    margin-top: 15px;
    border: 2px solid whitesmoke;
    border-radius: 3px;
    background-color: whitesmoke;
}

.busqueda{
    width: auto;
    height: auto;
    margin-top: 15px;
    margin-bottom: 15px;
}

.titulo{
    width: auto;
    height: auto;
    text-align: center;
    margin-top: 20px;
    margin-left: 100px;
    margin-right: 100px;
    border-radius: 5px;
    font-size: xx-large;
    background-color: whitesmoke;
}