.navbar{
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    height: 180px;
    width: 100%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

*{
    margin:0;
    font-family: 'PT Sans Narrow', sans-serif;
}

.vols img{
    width: auto;
    height: 120px;
    margin-left: 25px;
}

.navbarA{
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    height: 180px;
    width: 100%;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.p1{
    color: white;
    font-size: x-large;
    margin-right: 140px;
}

.p2{
    color: white;
    font-size: x-large;
    margin-left: 140px;
}

.entrarAdmin{
    height: 1000px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background-image: linear-gradient(rgba(0, 0, 0, 0.715), rgba(0, 0, 0, 0.747)),url(../img/830639.webp);
}

.entrar{
    height: 450px;
    width: 450px;
    background-color: black;
    border-radius: 10px;
}

.entrar:hover{
    animation: pulsar 3s ease-in-out;
}

@keyframes pulsar {
    0%{
        box-shadow: 0 0 45px white, 0 0 50px rgb(255, 255, 255);
    }
}

.content{
    margin-top: 45px;
    display: flex;
    justify-content: unsafe;
    align-items: center;
    flex-direction: column;
}

.par{
    color: white;
    font-size: xx-large;
    margin-top: 20px;
}

.ingreso{
    margin-top: 15px;
    height: 50px;
    width: 350px;
    font-size: x-large;
    border-radius: 10px;
    border: 3px solid black;
}

.boton{
    margin-top: 15px;
    height: 50px;
    width: 150px;
    transition: transform .2s; 
    cursor: pointer;
    font-size: x-large;
    background-color: #1ed5c3;
    border: 5px solid #15ac9d;
    border-radius: 10px;
}

.boton:hover {
    transform: scale(1.05); 
}

.login{
    height: 30px;
    width: 30px;
    transition: transform .2s; 
    cursor: pointer;
    margin-left: 40px;
}

.login:hover {
    transform: scale(1.3); 
}