.contS2{
    margin-bottom: 18px;
    height: 320px;
    width: 320px;
    background-color: rgb(228, 228, 228);
    border: 3px solid rgb(32, 31, 31);
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: initial;
    flex-direction: row;
    color: black;
    font-size: xx-large;
    cursor: pointer;

}

.marcas2{
    height: auto;
    width: auto;
    display: flex;
    justify-content: start;
    align-items: flex-start;
    flex-direction: row;
}

.titulo{

}