.navbar{
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    height: 180px;
    width: 100%;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

*{
    margin:0;
    font-family: 'PT Sans Narrow', sans-serif;
}

.vols img{
    width: auto;
    height: 120px;
    margin-left: 25px;
}

.b{
    font-size: x-large;
    margin-right: 120px;
    transition: transform .2s; 
}

.b:hover {
    transform: scale(1.05); 
}

.login{
    height: 30px;
    width: 30px;
    transition: transform .2s; 
    cursor: pointer;
    margin-left: 40px;
}

.login:hover {
    transform: scale(1.3); 
}

.menu{
    height: 100%;
    width: 350px;
    font-size: x-large;
    font-family: 'PT Sans Narrow', sans-serif;
    background-color: black;
    float: right;
}

.categoria li{
    list-style: none;
    padding: 12px 10px;
}

.categoria li:hover{
    background-color: #4e4e4e;
    cursor: pointer;
}


.categoria li a{
    text-decoration: none;
    color: white;
}

.p{
    font-size: x-large;
    color: white;
}

.hr2{
    border-color: #ff0000;
    margin-top: 3px;
}

.hr{
    border-color: white;
}

.hr1{
    border-color: #1ed5c3;
    margin-bottom: 3px;
}

.logo{
    width: 200px;
    height: 200px;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-left: 70px;
}

.logo img{
    width: 150px;
    height: 150px;
}

.p1{
    color: white;
    font-size: x-large;
    margin-right: 140px;
}
