.navbar{
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    height: 180px;
    width: 100%;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

*{
    margin:0;
    font-family: 'PT Sans Narrow', sans-serif;
}

.vols img{
    width: auto;
    height: 120px;
    margin-left: 25px;
}

.login{
    height: 30px;
    width: 30px;
}

.log{
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-right: 35px;
    transition: transform .2s; 
    cursor: pointer;
}

.log:hover {
    transform: scale(1.2); 
}

.busqVar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin-top: 25px;
    width: 100%;
}

.menu{
    height: 1000px;
    width: 350px;
    font-size: x-large;
    font-family: 'PT Sans Narrow', sans-serif;
    background-color: black;
    overflow: auto;
    overflow-y: hidden;
    overflow-x: hidden;
    float: left;
}

.var{
    margin-top: 25px;
    height: 100%;
    width: 100%;
    float: left;
    margin: 12px;
    color: white;
    font-size: 24px;
    cursor: pointer;
}

.categoria ul li{
    list-style: none;
    padding: 12px 10px;
}

.categoria ul li:hover{
    background-color: #4e4e4e;
    cursor: pointer;
}


.categoria ul li a{
    text-decoration: none;
    color: white;
}

.boton{
    margin-left: 10px;
    margin-top: 10px;
}

.show{
    left: 0;
}